<div class="row">
    <div class="col-xs-10 col-lg-offset-1">
        <article class="article">
            <header>
                <h1 class="text-center"> {{.article.Name}}</h1>
                <dl class="dl-inline">

                    <dd class="pull-right"><span class="label label-success">HTML</span> <span class="label label-warning">网页设计</span> <span class="label label-info">W3C</span> <span class="label label-danger"><i class="icon-eye-open"></i> 235</span></dd>
                </dl>

            </header>
            <section class="content">
               {{.article.Content}}
            </section>

            <footer>


                <ul class="pager pager-justify">
                    <li class="previous"><a target="_blank" href="https://zh.wikipedia.org/wiki/Category:HTML"><i class="icon-arrow-left"></i> HTML</a></li>
                    <li class="next disabled"><a target="_blank" href="https://zh.wikipedia.org/wiki/Category:W3C%E6%A0%87%E5%87%86">W3C 标准 <i class="icon-arrow-right"></i></a></li>
                </ul>
            </footer>
        </article>
    </div>
</div>