

  <div class="row">
    <div class="col-xs-10 col-lg-offset-1">
      {{ range .list}}
      <h1 class="header-dividing">
        <a href='{{urlfor "IndexController.Detail"}}?id={{.Id}}'>{{.Name}}</a>

        {{range $index, $elem:=index $.a .Id}}
        <small>{{$elem}}</small>

        {{end}}
      </h1>
      {{end }}

    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-lg-offset-1">
      <p class="pull-right" style="padding-top: 10px">
        共{{.count}}条记录 共记{{.paginator.totalpages}} 页 当前页  {{.paginator.currpage}}
      </p>
    <ul class="pager ">

      <li class=""><a href="?page={{.paginator.firstpage}}">«</a></li>
      {{range $index,$page := .paginator.pages}}
      <li  {{if eq $.paginator.currpage $page }}class="am-active"{{end}}><a href="?page={{$page}}">{{$page}}</a></li>
      {{end}}
      <li><a href="?page={{.paginator.lastpage}}">»</a></li>

    </ul>
    </div>
    </div>

  </div>