<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- 导航头部 -->
      <div class="navbar-header">
        <!-- 移动设备上的导航切换按钮 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- 品牌名称或logo -->
        <a class="navbar-brand" href="#">ZUI</a>
      </div>
      <!-- 导航项目 -->
      <div class="collapse navbar-collapse navbar-collapse-example">
        <!-- 一般导航项目 -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">项目</a></li>
          <li><a href="#">需求</a></li>
          <!-- 导航中的下拉菜单 -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理 <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">任务</a></li>
              <li><a href="#">待办</a></li>
              <li><a href="#">Bug</a></li>
              <li class="divider"></li>
              <li><a href="#">测试</a></li>
              <li><a href="#">用例</a></li>
            </ul>
          </li>
        </ul>
        <!-- 导航中的表单 -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      </div><!-- END .navbar-collapse -->
    </div>
  </nav>

  <div class="row">
    <div class="col-xs-10 col-lg-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading" contenteditable="">.panel-info</div>
        <div class="panel-body" >222</div>
      </div>
          <div class="panel panel-primary">
              <div class="panel-heading" contenteditable="">.panel-info</div>
              <div class="panel-body" contenteditable="">面板内容</div>
            </div>
    </div>
  <div class="row">
    <div class="col-xs-10 col-lg-offset-1">
    <ul class="pager">
      <li class="previous"><a href="your/nice/url">«</a></li>
      <li><a href="your/nice/url">1</a></li>
      <li class="active"><a href="your/nice/url">2</a></li>
      <li><a href="your/nice/url">3</a></li>
      <li><a href="your/nice/url">4</a></li>
      <li><a href="your/nice/url">5</a></li>
      <li class="next"><a href="your/nice/url">»</a></li>
    </ul>
    </div>
    </div>

  </div>